<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container">

 
  <br>
    <div class="card">
            <div class="card-header">
                   
                        <h2>Nova Matéria Prima</h2>
                    
            </div>
            <div class="card-body">
                    <form name="materialForm" method="POST" action="/materiaprima/create" style="display: inline;" onsubmit="return validateForm()">
                            <!-- <input class="form-control" type="text" name="descricao" placeholder="Insira uma descrição para a matéria Prima"><br> -->
                            <h6>Insira um código para a matéria prima:</h6>
                            <input class="form-control" type="text" name="codigo" placeholder="Insira um código para a matéria prima"><br>
                                         
                            <br>
                            <button class="btn btn-primary">Cadastrar</button>
                     </form>
                     <form method="GET" action="/materiaprima" style="display: inline;">
                        <button class="btn btn-danger">Cancelar</button>
                     </form>
            </div>
           
          
    </div>
   
</div>

<script>
   function validateForm() {
      var material = document.forms["materialForm"]["codigo"].value;
      if (material === "") {
         alert("O número do Material deve ser informado.");
         return false;
      }
   }
</script>
<%- include ('../partials/footer.ejs') %>