.center_div{
   
    margin-top: 5%; /* value of your choice which suits your alignment */
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.table-ficha .table-bordered {
   border: 1px solid #999;
}
.table-ficha .table-bordered > thead > tr > th {
   border: 1px solid #999;
   padding: 0.2rem;
   text-align: center;
}
.table-ficha .table-bordered > tbody > tr > td {
   border: 1px solid #999;
   padding: 0.3rem;
   text-align: center;
}
.table-ficha .table-bordered > tbody > tr > th{
   border: 1px solid #999;
   padding: 0.3rem;
   text-align: center;
}
.table-ficha .table-bordered > tfoot > tr > th{
   border: 1px solid #999;
   padding: 0.3rem;
   border-right: none;
   text-align: center;
}
.table-ficha .table-bordered > tfoot > tr > td{
   border: 1px solid #999;
   padding: 0.3rem;
   border-left: none;
}
.table-ficha #termopar > tbody > tr > th{
   border: 1px solid #999;
   padding: 0.3rem;
   border-right: none;
   text-align: center;
}
.table-ficha #termopar > tbody > tr > td{
   border: 1px solid #999;
   padding: 0.3rem;
   border-left: none;
}

input.read-only {
   border: none;
   text-align: center;
   font-style: italic;
}

input.read-only:focus {
   outline: none;
}

p.read-only {
   text-align: center;
   font-weight: bold;
   /* width: fit-content; */
}

p.read-only span.cadastrados {
   color: blue
}

p.read-only span.reais {
   color: green;
}

.outOfRange {
   background-color: #FDFD96;
}