.center_div{
   
    margin-top: 5%; /* value of your choice which suits your alignment */
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#headerFicha > thead > tr > th {
   border: 1px solid #999;
   padding: 0.2rem;
   text-align: center;
}

.table-ficha .table-bordered {
   border: 1px solid #999;
}
.table-ficha .table-bordered > thead > tr > th {
   border: 1px solid #999;
   padding: 0.2rem;
   text-align: center;
}
.table-ficha .table-bordered > tbody > tr > td {
   border: 1px solid #999;
   padding: 0.3rem;
   text-align: center;
   font-style: italic;
}
.table-ficha .table-bordered > tbody > tr > th{
   border: 1px solid #999;
   padding: 0.3rem;
   text-align: center;
}
.table-ficha .table-bordered > tfoot > tr > th{
   border: 1px solid #999;
   padding: 0.3rem;
   border-right: none;
   text-align: center;
}
.table-ficha .table-bordered > tfoot > tr > td{
   border: 1px solid #999;
   padding: 0.3rem;
   border-left: none;
   font-style: italic;
   text-align: center;
}
.table-ficha #termopar > tbody > tr > th{
   border: 1px solid #999;
   padding: 0.3rem;
   text-align: center;
}
.table-ficha #termopar > tbody > tr > td{
   border: 1px solid #999;
   padding: 0.3rem;
   border-left: none;
}

.table-ficha .header > tbody > tr > td{
   text-align: center;
   font-style: italic;
   padding: 10px;
}

.table-ficha .header > thead > tr > th{
   padding: 10px;
}

#headerFicha tbody > tr > td {
   border: 1px solid #999;
}

#descMaterial {
   text-align: center;
   font-style: italic;
}

input.read-only {
   border: none;
   text-align: center;
   font-style: italic;
}

input.read-only:focus {
   outline: none;
}

#userLogado:focus {
   outline: none;
}

p.read-only {
   text-align: center;
   font-weight: bold;
   /* width: fit-content; */
   cursor: pointer;
}

p.read-only span.cadastrados {
   color: blue
}

p.read-only span.reais {
   color: green;
}

.outOfRange {
   background-color: #FDFD96;
}

.table-bordered select option {
   font-weight: bold;
}

.table-bordered .form-control {
   font-weight: bold;
}

.form-floating textarea {
   border: 1px solid #999;
}

.form-floating label {
   font-weight: bold;
}

.form-floating small {
   font-weight: bold;
}

.labelCamara {
   font-size: 0.8em;
   background-color: rgb(241, 235, 235);
   margin: 0;
   font-weight: 600;
   outline: none;
   border: none;
}

.labelVapor {
   font-size: 0.8em;
   background-color: rgb(241, 235, 235);
   margin: 0;
   font-weight: 600;
   outline: none;
   border: none;
}

#labelCamara {
   font-size: 0.8em;
   background-color: rgb(241, 235, 235);
   margin: 0;
   font-weight: 600;
}

#labelVapor {
   font-size: 0.8em;
   background-color: rgb(241, 235, 235);
   margin: 0;
   font-weight: 600;
}

p {
   margin-top: .5rem;
   margin-bottom: .5rem;
}

.labels {
   margin-bottom: 0;
}

.last-item {
   margin-left: auto;
}

.button-revisao {
   margin-right: 5px;
}


@media print {
   .dont-print {
      display: none;
   }

   .print {
      display: block;
   }

   #export_table_to_excel_16 {
      margin-bottom: 20px;
   }

   #export_table_to_excel_6 {
      margin-bottom: 80px;
   }

   #vapor {
      margin-bottom: 80px;
   }

   ::-webkit-scrollbar {
      display: none;
   }

   ::-ms-overflow-style {
      display: none;
   }

   #headerFicha > thead > tr > th {
      border: 1px solid rgb(65, 64, 64) !important;
      padding: 0.2rem;
      text-align: center;
   }
   
   .table-ficha .table-bordered {
      border: 1px solid rgb(65, 64, 64) !important;
   }
   .table-ficha .table-bordered > thead > tr > th {
      border: 1px solid rgb(65, 64, 64) !important;
      padding: 0.2rem;
      text-align: center;
   }
   .table-ficha .table-bordered > tbody > tr > td {
      border: 1px solid rgb(65, 64, 64) !important;
      padding: 0.3rem;
      text-align: center;
   }
   .table-ficha .table-bordered > tbody > tr > th{
      border: 1px solid rgb(65, 64, 64) !important;
      padding: 0.3rem;
      text-align: center;
   }
   .table-ficha .table-bordered > tfoot > tr > th{
      border: 1px solid rgb(65, 64, 64) !important;
      padding: 0.3rem;
      border-right: none;
      text-align: center;
   }
   .table-ficha .table-bordered > tfoot > tr > td{
      border: 1px solid rgb(65, 64, 64) !important;
      padding: 0.3rem;
      border-left: none;
      text-align: center;
   }
   .table-ficha #termopar > tbody > tr > th{
      border: 1px solid rgb(65, 64, 64) !important;
      padding: 0.3rem;
      text-align: center;
   }
   .table-ficha #termopar > tbody > tr > td{
      border: 1px solid rgb(65, 64, 64) !important;
      padding: 0.3rem;
      border-left: none;
   }
   
   #headerFicha tbody > tr > td {
      border: 1px solid rgb(65, 64, 64) !important;
   }

   .form-floating textarea {
      border: 1px solid rgb(65, 64, 64) !important;
   }

   #cadastrado {
      color: blue;
   }

   #reais {
      color: green;
   }
}