<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container">

 
  <br>
    <div class="card">
            <div class="card-header">
                   
                        <h2>Novo Molde</h2>
                    
            </div>
            <div class="card-body">
                    <form name="moldeForm"  method="POST" action="/moldes/create" style="display: inline;" onsubmit="return validateForm()">
                            <!-- <input class="form-control" type="text" name="descricao" placeholder="Insira uma descrição para o Molde"><br> -->
                            <h6>Insira o número do Molde:</h6>
                            <input class="form-control" type="text" name="codigo" placeholder="Insira o número do Molde"><br>
                   
                   
                            

                         
                            <br>
                            <button class="btn btn-primary">Cadastrar</button>
                     </form>
                     <form method="GET" action="/moldes" style="display: inline;">
                        <button class="btn btn-danger">Cancelar</button>
                     </form>
            </div>
           
          
    </div>
   
</div>

<script>
   function validateForm() {
      var molde = document.forms["moldeForm"]["codigo"].value;
      if (molde === "") {
         alert("O número do Molde deve ser informado.");
         return false;
      }
   }
</script>
<%- include ('../partials/footer.ejs') %>