<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container">

    <div class="card mt-4"> 
        <div class="card-header">
            <h2> Criação de Usuário </h2>
        </div>
        <div class="card-body">
                <form method="POST" action="/users/create">
                    <input class="form-control" name="nome" type="text" placeholder="insira seu nome"><br>
                    <input class="form-control" name="matricula" type="text" placeholder="insira sua matrícula"><br>
                    <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                    <input class="form-control" name="password" type="password" placeholder="*****"><br>
                    <button type="submit" class="btn btn-primary btn-block">Criar </button>
                </form>  
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src=/scripts/documentScripts.js></script>
<%- include ('../partials/footer.ejs') %>