<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container">

    <div class="card mt-4"> 
        <div class="card-header">
            <h2> Criação de Usuário </h2>
        </div>
        <div class="card-body">
                <form method="POST" action="/users/create" style="display: inline;">
                    <h6>Insira seu nome</h6>
                    <input class="form-control" name="nome" type="text"><br>
                    <h6>Insira seu sobrenome</h6>
                    <input class="form-control" name="sobrenome" type="text"><br>
                    <h6>Insira sua matrícula</h6>
                    <input class="form-control" name="matricula" type="text"><br>
                    <h6>Insira um email</h6>
                    <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                    <h6>Insira sua senha</h6>
                    <input class="form-control" name="password" type="password" placeholder="*****"><br>

                    <h6>É admin?</h6>
                    <input type="radio" id="Sim" name="isAdmin" value="1">
                    <label for="Sim">Sim</label><br>
                    <input checked type="radio" id="Não" name="isAdmin" value="0">
                    <label for="Não">Não</label><br>

                    <button type="submit" class="btn btn-primary">Criar </button>
                </form>  
                <form method="GET" action="/users" style="display: inline;">
                    <button class="btn btn-danger">Cancelar</button>
                </form>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src=/scripts/jquery.js></script>
<script src=/scripts/documentScript.js></script>

<%- include ('../partials/footer.ejs') %>