<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container">
 
  <br>
    <div class="card">
            <div class="card-header">
                   
                        <h2>Nova Ficha Técnica</h2>
                    
            </div>
            <div class="card-body">
                    <form  method="POST" action="/maquinas/create">
                            <input class="form-control" type="text" name="cliente" placeholder="Insira uma descricao nome Para a Máquina"><br>
                            <input class="form-control" type="text" name="mac" placeholder="Insira um mac nome Para a Máquina"><br>
                            <input class="form-control" type="text" name="codigo" placeholder="Insira um código Para a Máquina"><br>
                            <input class="form-control" type="text" name="peso" placeholder="Insira um peso em Toneladas Para a Máquina"><br>
                            <input class="form-control" type="text" name="modelo" placeholder="Inseira o modelo da Máquia"><br>
    
                            <br>
                            <button class="btn btn-primary">Cadastrar</button>
                            
                        </form>
            </div>
           
          
    </div>
   
</div>

<%- include ('../partials/footer.ejs') %>