<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container">
 
  <br>
    <div class="card">
            <div class="card-header">
                   
                        <h2>Nova Máquina</h2>
                    
            </div>
            <div class="card-body">
                    <form  method="POST" action="/maquinas/create" style="display: inline;">
                            <input class="form-control" type="text" name="cliente" placeholder="Insira uma descricao nome Para a Máquina"><br>
                            <input class="form-control" type="text" name="mac" placeholder="Insira um ip Para a Máquina"><br>
                            <input class="form-control" type="text" name="codigo" placeholder="Insira um código Para a Máquina"><br>
                            <input class="form-control" type="text" name="peso" placeholder="Insira um peso em Toneladas Para a Máquina"><br>
                            <input class="form-control" type="text" name="modelo" placeholder="Inseira o modelo da Máquia"><br>
    
                            <br>
                            <button class="btn btn-primary">Cadastrar</button>
                            
                        </form>
                        <form method="GET" action="/maquinas" style="display: inline;">
                            <button class="btn btn-danger">Cancelar</button>
                        </form>
            </div>
           
          
    </div>
   
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src=/scripts/jquery.js></script>
<script src=/scripts/documentScript.js></script>


<%- include ('../partials/footer.ejs') %>